@model IEnumerable<SmartphoneWeb.Models.Category>

@{
    ViewData["Title"] = "Danh sách danh mục";
}

<h1>Danh sách danh mục</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã Danh Mục</th>
            <th>Tên Danh Mục</th>
            <th>Ngày Tạo</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-warning">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>